.user-account{margin:0 auto;width:448px}
@media screen and (max-width:480px){.user-account{max-width:100%}
}
.user-account .module-forgot-password,.user-account .module-redirect,.user-account .module-terms-of-use{padding:8px}
.user-account .module-footer{text-align:center}
.user-account .zsg-form-field{position:relative}
.user-account input{height:38px}
.user-account input[type="submit"]{width:100%}
.user-account .module-separator,.user-account .continue,.user-account .extension{text-align:center}
.user-account .module-separator label,.user-account .continue label,.user-account .extension label,.user-account .module-separator a,.user-account .continue a,.user-account .extension a{line-height:38px}
.user-account .phone-label{padding:0 0 0 10px;line-height:38px}
.user-account.passwordless-auth{width:auto;max-width:520px}
@media only screen and (max-width:520px){.user-account.passwordless-auth{max-width:100%}
}
.user-account.streamlined-agent{width:560px}
.user-account.streamlined-agent .module-wrap{padding:20px;box-shadow:0 1px 2px #ddd;box-shadow:0 1px 2px rgba(0,0,0,0.3)}
.user-account.sem-lightbox .module-right{padding:20px;border:1px solid #ddd}
.user-account.sem-lightbox .module-forgot-password{padding:0;line-height:1em}
.user-account .bold-search-label{font-weight:bold}
.user-account .save-search-freq>label{margin-right:15px;margin-right:1rem;display:inline-block}
.user-account .save-search-freq .zsg-list_inline{display:inline-block}
.user-account .save-search-option-label.sms{margin-top:5px}
@media screen and (max-width:768px){.user-account .save-search-option-label.sms{margin-left:15px}
}
.user-account .submit-div{text-align:center}
@media screen and (max-width:480px){.user-account .submit-div{width:100%}
}
@media screen and (max-width:768px){.user-account .sms-phone-number{margin-left:15px}
}
.user-account .sem-auth-header-image{width:100%}
.user-account .sem-auth-header-image img{width:100%;margin-bottom:15px}
.user-account .async-validator-feedback{position:absolute;text-indent:-9999px;top:5px;right:10px;background-position:right 10px}
@media only screen and (min-width:448px){.user-account .zsg-lg-1-2.zsg-sm-1-1{width:50%}
.user-account .zsg-lg-1-5.zsg-sm-1-1{width:20%}
.user-account .zsg-lg-2-5.zsg-sm-1-1{width:40%}
.user-account .zsg-lg-3-5.zsg-sm-1-1{width:60%}
.user-account h2{font-size:28px;line-height:1.3;font-weight:normal}
.user-account .continue{text-align:left}
}
@media only screen and (max-width:447px){.user-account .phone-label{width:28%}
.user-account .sm-hide{display:none}
.user-account .module-separator label,.user-account .continue label,.user-account .module-separator a,.user-account .continue a{line-height:1}
}
.user-account.login input[readonly],.user-account.register input[readonly]{background-color:#eee;border-color:#ccc;box-shadow:none;color:#ccc;cursor:default;opacity:1}
.social-connect{border-top:1px solid #ddd;padding-top:15px;margin-top:15px}
.social-connect a{font-size:30px}
.social-connect .btn-social-connect{display:inline-block;margin-left:15px}
.social-connect .zsg-icon-google-plus{color:#dd4b39}
.social-connect .zsg-icon-google-plus:hover{color:#e47365}
.social-connect .zsg-icon-facebook{background:inherit;color:#3b5998}
.social-connect .zsg-icon-facebook:hover{color:#4c70ba}
.inline-auth{padding:0}
.inline-auth .user-account{width:auto;min-width:375px;max-width:448px;padding:20px}
@media only screen and (max-width:448px){.inline-auth .user-account{min-width:300px;max-width:100%}
}
.inline-auth .user-account.save-search{max-width:645px}
.inline-auth .user-account.passwordless-auth{max-width:520px}
@media only screen and (max-width:520px){.inline-auth .user-account.passwordless-auth{max-width:100%}
}
.inline-auth .user-account.sem-lightbox{max-width:645px}
.inline-auth .user-account.save-image-digs-lightbox{min-width:457px;padding:0}
.login-success .login-success_hide{display:none}
@media screen and (min-width:481px){.login-success .submit-div .zsg-button_primary{width:75%}
}
.sms-tooltip-launch{margin-top:10px}
.sms-phone-form{margin-right:7px;width:auto}
.sms-phone-form-large{width:auto}
#website-reg-steps ol.zsg-steps li>a{padding-left:20px;padding-right:20px;word-spacing:normal}
.async-validator-feedback{color:#999;display:inline;margin-left:-15px;position:absolute;background-repeat:no-repeat;background-position:0 3px;line-height:30px}
.async-validator-feedback.valid,.async-validator-feedback.invalid{font-weight:bold;padding-left:20px}
.async-validator-feedback.valid{color:#87d300;background-image:url(/static/images/icon_checkmark.gif)}
.async-validator-feedback.invalid{color:#c00;background-image:url(/static/images/icon_negative-x.gif)}
.home-owner-claim .zsg-button-group{padding-top:15px}
.home-owner-claim .zsg-button-group>li button{width:80px}
@media screen and (max-width:480px){.home-owner-claim .zsg-button-group>li button{width:100%}
}
.customize-experience .sub-header{display:block;padding-bottom:5px}
.customize-experience .zsg-search-button{position:relative;margin-top:0}
.customize-experience .claim-home{margin-top:10px}
.customize-experience .no-claim{text-align:right;padding-top:18px}
@media only screen and (max-width:447px){.customize-experience .no-claim{display:block;padding-top:10px;text-align:center}
}
.customize-experience .search-block,.customize-experience .search-result{padding-left:20px}